<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" name="" id="" placeholder="buscar artista">
    </div>
</div>


<app-tarjetas [items]="artistas"></app-tarjetas>
<!-- 
<div class="card-columns m-5">

    <div class="card" *ngFor="let artista of artistas">
      <img [src]="artista.images | noimge" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{artista.name}}</h5>

      </div>
    </div>

</div> -->